name: ci

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12", "3.13"]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Poetry
        run: |
          python -m pip install -U pip
          python -m pip install poetry
      - name: Install dependencies
        run: poetry install
      - name: Compile check
        run: poetry run python -m compileall launchpad
      - name: Pytest
        run: poetry run pytest
